/* место для вашего кода */


/* стили header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 92px 51px 92px 49px;
}

.header__links-list {
    display: flex;
    gap: 32px;
    list-style-type: circle;
    font-size: 18px;
    font-style: normal;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__link {
    text-decoration: none;
    border-bottom: 1px solid black;
}

.header__link_active {
    border: none;
}


.header__logo .header__logo-image {
    width: 148px;
    height: 105px;  
}

.address {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}


/* оверлей */

.overlay {
    position: absolute;
    inset: 0;
    background: #000;
    opacity: 0.5;
    min-width: 100%;
    z-index: -1;
    
}


/* стили секции cover */

.cover {
    position: relative;
    min-width: 100%;
    background-image: url(../images/cover.jpg);
    z-index: -1;
    color: white;
}

.cover__title {
    padding: 165px 50px 20px;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 30px;

}

.cover__title .aligned-text {
    display: block;
    padding: 0 0 10px;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.cover__description {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 90px 50px 50px;
    font-size: 22px;
    text-transform: uppercase;
    gap: 78px;
}

.cover__description-text {
    word-spacing: 30px;
    font-style: normal;
}

.bet-button {
    padding: 12px 32px;
    background-color: transparent;
    border-color: white;
    border-width: 1px;
    font-family: 'Raleway';
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    
}