/* место для вашего кода */


/* стили header */

.header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    padding: 92px 49px 92px 51px;
}

.header__menu {
    grid-column-start: 1;
    grid-column-end: 3;
}

.header__links-list {
    display: flex;
    gap: 32px;
    list-style-type: circle;
    font-size: 18px;
    font-style: normal;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__link {
    text-decoration: none;
    border-bottom: 1px solid black;
}

.header__link_active {
    border: none;
}

.header__logo {
    grid-column-start: 3;
    grid-column-end: 5;
    text-align: center;
}

.header__logo .header__logo-image {
    width: 148px;
    height: 105px;
}

.address {
    grid-column-start: 6;
    grid-column-end: 7;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
    white-space: nowrap;
    width: 240px;
    padding: 5px 0 7px;
}

.address a {
    text-decoration: none;
    border-bottom: 1px solid black;
}

/* оверлей */

.overlay {
    position: absolute;
    inset: 0;
    background: #000;
    opacity: 0.5;
    min-width: 100%;
    z-index: -1;
    
}


/* стили секции cover */

.cover {
    position: relative;
    min-width: 100%;
    background-image: url(../images/cover.jpg);
    background-size: 100% auto;
    background-position: 0px -17px;
    z-index: -1;
    color: white;
}

.cover__title {
    padding: 165px 50px 20px;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 30px;
    word-spacing: -22px;
}

.cover__title .aligned-text {
    display: block;
    margin: 0 0 10px;
}

.aligned-text_center {
    text-align: center;
    width: 1280px;
    padding-left: 30px;
}

.aligned-text_right {
    text-align: right;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 90px 50px 50px;
    font-size: 22px;
    text-transform: uppercase;
    gap: 78px;
}

.cover__description-text {
    word-spacing: 18px;
    font-style: normal;
}

.bet-button {
    padding: 12px 32px;
    background-color: transparent;
    border-color: white;
    border-width: 1px;
    font-family: 'Raleway';
    font-size: 22px;
    text-transform: uppercase;
    color: white;  
}

/* стили секции lots */

.lots {
    padding: 180px 50px 181px;
    z-index: -1;
}

.lots__heading {
    padding: 0 40px 27px;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    gap: 25px;
    list-style-type: none;
}

.lots__card-list-item {
    position: relative;
}

.card-link {
    position: relative;
    display: block;
    height: 100%;
    z-index: 0;
    width: 430px;
    min-height: 450px;
    text-decoration: none;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-repeat: round;
    background-size: 100%;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-repeat: round;
    background-size: 100%;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-repeat: round;
    background-size: 100%;
}

.card {
    height: 100%;
    display: grid;
    align-content: space-between;
    text-align: start;
    padding: 50px 40px;
    color: white;
}

.card h3 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
    text-decoration-line: underline;
    text-transform: uppercase;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

.card p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
}
